################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projects/kruegerd/kruegerd-Dominion/.vs/*
/projects/kruegerd/kruegerd-Dominion/DEBUG
/projects/kruegerd/kruegerd-Dominion/x64/*
*.obj
/projects/kruegerd/kruegerd-Dominion/cmd.exe.lnk
/projects/kruegerd/kruegerd-Dominion/dominion_c
/projects/kruegerd/kruegerd-Dominion/playdom_c
/projects/kruegerd/kruegerd-dominion-windows-console
*.idb
*.log
*.pch
