################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projects/kruegerd/kruegerd-Dominion/New Text Document.txt
