###############################################
# Files to ignore during commit 
###############################################

*.o
*.gcno
*.gcda

# ignore Executables
playdom
testDrawCard
testSuite
badTestDrawCard
player
